*~
*.log
*.log*
*.sublime-project
*.sublime-workspace
*.sw[mnpcod]
*.tmp
*.tmp.*
*.tgz
.cache
.dist/
.env
.env*
.firebase
.nitro
.output
.DS_Store
.Thumbs.db
.log.txt
.vscode/
dist
log.txt
node_modules
npm-debug.log*
tmp/
.npmrc